/* 请先不要评价我的提交，我只是想上来看看大家怎么做的，
   我知道自己做得不好。*/

body{
    background-color:#ccc;
    padding:0;
    margin:0;  /* 为什么body的margin会有影响？*/
}


#top_bar{
    background-color:rgb(51,51,51);
    height:60px;
    margin:0 0 0 0;
}

.logo{
    position:absolute;
    top:11px;
    left:20px;
}

#navigation li{
    display:inline;
    color:white;
}

#navigation{
    position:absolute;
    top:0px;
    right:30px;
}

article,aside{
    box-shadow:1px 1px 3px 1px #999;
    margin:20px 20px;
    padding:20px 20px;
    background-color:white;
}

h3:first-child{
    color:gray;
}

h3 + div{
    color:gray;
}

.text{
    text-indent:20px;
}

a:link{
    color:navy;
    text-decoration:none;
}
a:visited{
    color:green;
}
a:hover{
    color:silver;
    text-decoration:underline;
}
a:active{
    color:navy;
}

.items{
    list-style:none;
}

.pic{
    border:1px solid silver;
    margin-left:40px;
    width:200px;
    height:200px;
    text-align:center;
    padding:10px;
}

span + img{
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    width:180px;
    height:160px;
}

ol{
    list-style:decimal;
    font-weight:bold;
}

.demo-table{
    border:1px solid silver;
    border-collapse:collapse;
    /* margin和padding都是0,为什么width不会自动设成100%*/
    margin:0 0;
    padding:0 0;
    width:100%;
}

.demo-table td,.demo-table th{
    border:1px solid silver;
}
.demo-table thead tr th{
    color:white;
    background-color:#333;
    text-align:left;
}

.demo-table tfoot th,.demo-table tfoot td{
    font-weight:bold;
    background-color:#ccc;
    border:none;
    text-align:left;
}

aside header{
    border-left:4px solid darkgray;
}

aside header > h2{
    font-size:18px;
    margin-left:10px;
    margin-top:10px;
}

.form_items{
    margin:10px 20%
}

footer{
    background-color:black;
    height:60px;
    text-align:center;
}

footer p{
    color:white;
    padding-top:20px;
    /*padding-top:25%;
    padding-bottom:25%;*/
   /* margin-top:25%;
    margin-bottom:25%;*/
}
