*{
    margin:0; padding:0; background-color:white;
}
html{
    padding-bottom:220px;
}
body{
    margin:20px; border:1px solid black; background-color:#eee; padding:20px;
    width:auto; height:auto;
}
#left{
    float:left; width:160px; border:1px solid black; height:80px; padding:20px;
}

img{
    width:80px; height:80px;
}
#left img{
    float:left;
}
#left span{
    float:right;
}

#center{
    margin-left:220px;  padding:20px; margin-right:140px; margin-top:0;
    border:1px solid black;
}

ul{
    list-style:none;
}

#right{
    float:right; border:1px solid black;
    padding:20px;
}
#right img{
    display:block;
    margin-bottom:20px;
}
#right ul img:last-child{
    margin-bottom:0;
}
body:after{
    content:"";
    visibility:hidden;
    display:block;
    clear:both;
}
