*{
    font-family:"Microsoft YaHei","黑体",sans-serif;
}

body{
    margin:0;
    background-color:rgb(204,204,204);
}

#top_bar{
    height:50px; background-color:rgb(64,64,64);
}
#top_bar img{
    position:absolute; top:5px; left:10px;
}
#navigation{
    list-style:none; position:absolute; right:10px; top:0;
}
#navigation li{
    display:inline;
}
#navigation a:link{
    color:white; text-decoration:none;
}
#navigation a:link{
    color:white;
}
#navigation a:hover{
    text-decoration:underline;
}
#navigation li:last-child a:link{
    color:#d9d9d9;
}

article{
    margin:25px; padding:25px; background-color:white; box-shadow: 10px 10px 5px #888888;
}
h2{
    color:rgb(128,128,128); font-size:20px;
}
article section p{
    text-indent:2em;
}
article header p{
    color:rgb(179,179,179); font-size:15px;
}
article section ul{
    list-style:none;
}

#pics figure{
    width:200px; padding:10px; border:1px solid rgb(191,191,191); text-align:center;
    margin:20px 0;
}
figure figcaption{
    margin-bottom:10px;
}

ol{
    font-weight:bold;
}

#table{
    border:1px solid rgb(191,191,191); border-collapse:collapse; width:100%;
    font-size:small; line-height:200%; text-align:left; 
}
#table caption{
    text-align:left; font-weight:bold;
}
#table td,#table th{
    border:1px solid rgb(191,191,191); padding-left:5px;
}
#table tfoot th{
    border:none; background-color:rgb(166,166,166)
}
#table thead{
    background-color:rgb(26,26,26); color:white;
}
#table tbody td:last-child{
    text-decoration:underline; color:rgb(128, 0, 255);
}

#aside h1{
    font-size:130%; border-left:5px solid rgb(166,166,166);
    padding:10px;
}
#aside table{
    margin-left:0; width:75%;
}
#aside table tr{
    width:100%;
}
#aside table td{
    padding:5px; 
}
#aside table td:first-child{
    text-align:right;
}
#aside table td:last-child{
    text-align:left; padding-left:10px;
}
#aside table .tips{
    color:#cccccc; padding-bottom:10px;
}
#aside textarea{
    width:100%; height:100px;
}
#aside #submit{
    width:100%; background-color:rgb(51, 51, 255); color:white; border-radius:15px;
    height:45px;
}
#aside #tmp{
    padding-top:0;
}

#footer{
    background-color:black; height:100px; color:white;
    text-align:center; padding-top:10px;
}

